#current-broadcast-info .fade-in {
    animation-name: fade-in-up;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

/* #current-thumbnail-container.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
} */

@media screen and (min-width: 480px) {
    body:not(.big-cover) #current-station.fade-in,
    body:not(.big-cover) #current-broadcast-title.fade-in {
        animation-name: fade-in-right;
    }

    /* .big-cover #current-station.fade-in,
    .big-cover #current-broadcast-title.fade-in {
        animation-name: fade-in-up;
    } */
}

@media screen and (min-width: 720px) {
    body:not(.big-cover) #details .fade-in {
        animation-name: fade-in-right;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}
