/* ------------- D E F A U L T   L A Y O U T   ( M O B I L E ) ------------- */
.skeleton {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 40px;
  background: #ccc; }
  .skeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ccc, #dedede, #ccc);
    animation: progress 1s ease-in-out infinite; }

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(100%, 0, 0); } }

body {
  position: relative;
  font-family: "Francois One", sans-serif;
  margin: 0; }

nav {
  display: flex;
  justify-content: center; }
  nav #brand {
    display: inline-block;
    color: white;
    margin: 1em 0 0 0;
    padding: 0.5em;
    text-align: center;
    background-color: #333; }
  nav ul {
    position: absolute;
    bottom: -3em;
    margin-bottom: 1em;
    padding: 0 0 1em 0;
    width: 100%; }
    nav ul li {
      text-align: center;
      list-style: none; }
      nav ul li a {
        color: inherit;
        cursor: pointer;
        text-decoration-line: none; }

#current-broadcast-card {
  padding: 1em; }
  #current-broadcast-card #card-footer {
    margin-top: 1em; }
    #current-broadcast-card #card-footer audio {
      width: 100%; }

#current-thumbnail-container {
  margin: auto;
  width: 10em;
  height: 10em;
  margin-bottom: 1em; }
  #current-thumbnail-container img {
    max-height: 100%;
    max-width: 100%; }

#head-info {
  text-align: center;
  margin-bottom: 1em; }
  #head-info #current-station {
    font-size: 1.25em;
    text-transform: uppercase; }
  #head-info #current-broadcast-title {
    font-family: Lato, "sans-serif";
    font-size: 1.5em;
    font-weight: normal;
    margin: auto; }

#current-broadcast-summary {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0; }

#current-show-title {
  font-family: "Francois One", sans-serif;
  color: #888;
  justify-self: flex-end; }

/* -------------  M E D I U M   W I D T H   A N D   S M A L L   H E I G H T ------------- */
@media screen and (min-width: 30em) {
  #current-broadcast-card {
    width: 25em;
    margin: auto; }
  #card-body {
    position: relative; }
    #card-body #current-thumbnail-container {
      position: absolute;
      left: 0;
      margin: 0; }
    #card-body #current-broadcast-info #head-info {
      text-align: initial;
      height: 10em;
      padding-left: 11em; } }

/* -------------  B I G   W I D T H   A N D   S M A L L   H E I G H T ------------- */
@media screen and (min-width: 45em) {
  #current-broadcast-card {
    width: 40em; }
  #card-body {
    position: initial;
    display: flex; }
    #card-body #current-thumbnail-container {
      position: initial;
      flex-shrink: 0;
      margin: 0; }
    #card-body #current-broadcast-info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-left: 1em; }
      #card-body #current-broadcast-info #head-info {
        height: auto;
        padding-left: 0; } }

/* -------------  B I G   H E I G H T ------------- */
@media screen and (min-height: 35em) and (min-width: 30em) {
  body {
    background-color: #333;
    position: initial; }
  nav {
    position: relative;
    justify-content: space-between;
    color: white;
    z-index: 10; }
    nav #brand {
      display: block;
      padding: 0;
      margin: 1.5em; }
    nav ul {
      position: initial;
      padding: 0;
      width: auto;
      margin: 1.5em; }
  #wrapper {
    z-index: 1;
    display: flex;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  #timeline {
    margin: auto; }
  #current-broadcast-card {
    box-shadow: 0px 0px 5em black;
    border-radius: 0.5em;
    background-color: white; } }
