/* ------------- D E F A U L T   L A Y O U T   ( M O B I L E ) ------------- */

@import "./skeleton.scss";

body {
    position: relative;
    font-family: "Fira Sans Condensed", sans-serif;
    margin: 0;
}

nav {

    display: flex;
    justify-content: center;

    #brand {
        display: inline-block;
        color: white;
        margin: 1em 0 0 0;
        padding: 0.5em;
        text-align: center;
        background-color: #333;;
        font-weight: 600;
    }

    ul {
        position: absolute;
        bottom: -9em;
        margin-bottom: 1em;
        padding: 0 0 1em 0;
        width: 100%;
        
        li {
            text-align: center;
            list-style: none;
            font-weight: 600;
            margin-bottom: 1em;

            a {
                color: inherit;
                cursor: pointer;
                text-decoration-line: none;
            }
        }

    }
}

#current-broadcast-card {
    padding: 1em;

    #card-footer {
        margin-top: 1em;

        audio {
        width: 100%
        }
    }
}

#current-thumbnail-container {
    margin: auto;
    width: 10em;
    height: 10em;
    margin-bottom: 1em;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

#head-info {
    text-align: center;
    margin-bottom: 1em;

    #current-station {
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    #current-broadcast-title {
        font-family: "Fira Sans", "sans-serif";
        font-size: 1.5em;
        font-weight: 200;
        margin: auto;
    }
}

#current-broadcast-summary {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    margin: 0;
}

#current-show-title {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    color: #888;
    justify-self: flex-end;
}

/* -------------  M E D I U M   W I D T H   A N D   S M A L L   H E I G H T ------------- */

@media screen and (min-width: 30em) {

    #current-broadcast-card {
        width: 25em;
        margin: auto;
    }

    #card-body {
    
        position: relative;
        
        #current-thumbnail-container {
            position: absolute;
            left: 0;
            margin: 0;
        }

        #current-broadcast-info #head-info {
            text-align: initial;
            height: 10em;
            padding-left: 11em;
        }
    }

}

/* -------------  B I G   W I D T H   A N D   S M A L L   H E I G H T ------------- */

@media screen and (min-width: 45em) {
    #current-broadcast-card {
        width: 40em;
    }

    #card-body {
        position: initial;
        display: flex;
        
        #current-thumbnail-container {
            position: initial;
            flex-shrink: 0;
            margin: 0;
        }

        #current-broadcast-info {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-left: 1em;

            #head-info {
                height: auto;
                padding-left: 0;
            }
        }
    }
}

/* -------------  B I G   H E I G H T ------------- */

@media screen and (min-height: 35em) {
    
    @media screen and (min-width: 45em) {
        body {
            background-color: #333;
            position: initial;
        }
    
        nav {
            position: relative;
            justify-content: space-between;
            color: white;
            z-index: 10;
    
            #brand {
                display: block;
                padding: 0;
                margin: 1.5em;
            }
    
            ul {
                position: initial;
                padding: 0;
                width: auto;

                li {
                    margin: 1.5em 1.5em 0 0;
                }
            }
        }
    
        #wrapper {
            z-index: 1;
            display: flex;
            align-content: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    
        #timeline {
            margin: auto;
        }
    
        #current-broadcast-card {
            box-shadow: 0px 0px 5em black;
            border-radius: 0.5em;
            background-color: white;
        }
    }
    @media screen and (min-width: 45em) {
        nav ul {
            display: flex;
            margin: 0;
            li {
                margin-bottom: 0;
            }
        }
    }
}
