.skeleton {
  position: relative;
  overflow: hidden;
  width: 5em;
  height: 1em;
  background: #CCC;
  margin: auto;
}

#current-broadcast-title .skeleton {
  margin-top: .5em;
  width: 8em;
}

@media screen and (min-width: 480px) {
  .skeleton {
    margin-left: 0;
  }
}