/* ------------- D E F A U L T   L A Y O U T   ( M O B I L E ) ------------- */


a {
    outline: 0;
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body {
    position: relative;
    font-family: "Fira Sans Condensed", sans-serif;
    margin: 0;
}

.body--dark {
    background-color: #333;;
    color: white;
}

nav {

    text-align: center;
    max-height: 3em;
    transition: all .4s ease-in-out;

    .theme-switcher {
        position: absolute;
        top: 18px;
        right: 15px;

        &:hover {
            cursor: pointer;
        }
    }

    // brand
    #brand {
        color: white;
        display: inline-block;
        margin: 1em 0 0 0;
        padding: 0.5em;
        background-color: #333;
        font-weight: 600;
        transition: all .4s ease-in-out;
    }

    // channels list
    .channels-list-container {

        position: absolute;
        bottom: -2em;
        font-weight: 600;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        
        .channels-list-head {
            margin: 1em 0;
            transition: all .4s ease-in-out;
        }
        
        ul {        
            color: white;
            background-color: #333;
            cursor: default;
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 2em 0 0 0;
            z-index: 1;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(calc(100% + .5em));
            transition: transform ease-in-out .4s;
            border-radius: 1em 1em 0 0;
            
            &.show {
                transform: translateY(0);
            }
            
            li {
                text-align: center;
                list-style: none;
                margin-bottom: 1em;
                
                &:first-child {
                    position: absolute;
                    top: 5px;
                    width: .5em;
                    cursor: pointer;
                }

                a {
                    color: inherit;
                    cursor: pointer;
                    text-decoration-line: none;
                }
            }
        }
    }
}

#current-broadcast-card {
    padding: 1em;
    
    #card-footer {
        margin-top: 1em;

        audio {
        width: 100%
        }
    }
}

#current-thumbnail-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    transition: all .4s ease-in-out;

    img {
        height: 10em;
        width: 10em;
        transition: all .4s ease-in-out;
    }
}

#head-info {
    text-align: center;
    margin-bottom: 1em;
    transition: all .4s ease-in-out;

    #current-station {
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    #current-broadcast-title {
        font-family: "Fira Sans", "sans-serif";
        font-size: 1.5em;
        font-weight: 200;
        margin: auto;
    }
}

#current-broadcast-summary {
    transition: color .4s ease-in-out;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    margin: 0;
}

#current-show-title {
    transition: color .4s ease-in-out;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    color: #888;
    justify-self: flex-end;

    &.text-center {
        text-align: center;
    }

}

/* ------------- T O G G L E   B I G   C O V E R ------------- */


.big-cover {
    background-color: #333;

    nav {
        max-height: 0;
        
        #brand {
            opacity: 0;
        }

        .theme-switcher {
            display: none;
        }

        .channels-list-head {
            color: white;
        }
    }

    #current-thumbnail-container {
        margin-top: 1em;
 
        img {
        width: 20em;
        height: 20em;
        border-radius: .25em;
        box-shadow: 0 0 5em black;
        }
    }

    #current-broadcast-info {
        color: white;

        #head-info {
            margin: 2em 0;
        }
    }
}

.big-cover.empty-summary #current-show-title {
    text-align: center;
}



/* -------------  M E D I U M   W I D T H   A N D   S M A L L   H E I G H T ------------- */

@media screen and (min-width: 480px) {

    #current-broadcast-card {
        margin: 0 2em;
    }

    #card-body {
    
        position: relative;
        
        #current-thumbnail-container {
            position: absolute;
        }

        #current-broadcast-info #head-info {
            text-align: initial;
            height: 10em;
            padding-left: 11em;
        }
    }

    .big-cover {

        nav {
            max-height: 3em;
        }
        
        #card-body {
            color: white;

            #current-thumbnail-container {
                position: relative;
                margin-top: 0;
            }

            #current-broadcast-info {
                #head-info {
                    padding: 0;
                    margin: 2em;
                    height: auto;
                    text-align: center;
                }
            }
        }
    }
}

/* -------------  B I G   W I D T H   A N D   S M A L L   H E I G H T ------------- */

@media screen and (min-width: 720px) {

    nav {
        .theme-switcher {
            position: absolute;
            top: 18px;
            right: 15px;
        }
    }

    #current-broadcast-card {
        margin: auto;
        width: 40em;
    }

    #card-body {
        position: initial;
        display: flex;
        
        #current-thumbnail-container {
            position: initial;
            margin-bottom: 0;
        }

        #current-broadcast-info {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-left: 1em;

            #head-info {
                height: auto;
                padding-left: 0;
            }
        }
    }

    .big-cover {
        #card-body { display: block; }
    }

}

/* -------------  B I G   H E I G H T ------------- */

@media screen and (min-height: 35em) and (min-width: 480px) {

    nav {
        .theme-switcher {
            position: relative;
            top: 18px;
            right: 20px;
        }

        .menu {
            display: flex;
        
            & > * {
              margin-left: 1.5rem;  
            }
        }
    }

    body {
        background-color: #333;
        position: initial;
    }

    nav {
        position: relative;
        justify-content: space-between;
        z-index: 10;

        #brand {
            background-color: transparent;
            display: block;
            padding: 0;
            margin: 1.5em;
        }

        ul {
            position: initial;
            padding: 0;
            width: auto;

            li {
                margin: 1.5em 1.5em 0 0;
            }
        }
    }

    #wrapper {
        z-index: 1;
        display: flex;
        align-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #timeline {
        margin: auto;
        width: 100%
    }

    body:not(.big-cover) #current-broadcast-card {
        box-shadow: 0px 0px 5em black;
        border-radius: 0.5em;
        background-color: white;
    }
    
    nav {
        display: flex;

        .channels-list-container {
            position: relative;
            bottom: 0;
            width: auto;
            
            .channels-list-head { 
                display: none;
            }
    
            ul {
                justify-content: start;
                background-color: transparent;
                margin: 0;
                position: relative;
                transform: none;
                padding: 0;
                
                li {
                    margin-bottom: 0;

                    &:first-child { display: none; }
                }
            }
        }
    }

    .big-cover {
        nav {
            opacity: 0;
        }
        nav:hover, nav:hover #brand {
            opacity: 1;
        } 
        #current-broadcast-card #current-broadcast-info {
            padding-left: 0;
        }
    }
}
