sunflower-cookie-consent {
    display: block;
    top: 1em;
    width: 100%;
    z-index: 1000;
    position: absolute;

    .container {
        margin: auto;
        color: white;
        width: 30em;
        background-color: #222;
        border-radius: .25em;
        padding: 1em;
    }

    p {
        margin: 0 0 .5em 0;
    }

    button {
        border: none;
        font-weight: bold;
        padding: 0.5em 1em;
        border-radius: .25em;
        cursor: pointer;
    
        &.accept {
            background-color: rgb(127, 143, 127);
            color: white;
        }

        &.refuse {
            background-color: red;
            color: white;
            margin-left: .5em;
        }
    }
}


@media screen and (max-width: 540px) {
    sunflower-cookie-consent .container {
        width: auto;
        margin: 0 1em;
    }
}
