<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playlist de la station {{ name.capitalize() }} | {{ radio_name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,400,300|Fira+Sans:200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href='{{ url_for("static", filename="index.css", v=1.2) }}'>
</head>
<body class="body--dark">
    <nav>
        <div id="brand">
            <a href="/">Radio Pycolore</a>
        </div>
    </nav>
    <div id="playlist-wrapper">
        <h1>Playlist de la station {{ name.capitalize() }}</h1>
        <table>
            <colgroup>
                <col span='1' id="artist-col">
                <col span='1' id="title-col">
                <col span='1' id="album-col">
            </colgroup>
            <thead>
                <tr>
                    <th>Artiste</th>
                    <th>Titre</th>
                    <th>Album</th>
                </tr>
            </thead>
            <tbody>
                {% for artist, n in artists %}
                <tr class="artist-row">
                    <td></td>
                    <td span="2" class="artist-cell {% if loop.index == 1 %}first-artist{% endif %}">{{ artist }}<td>
                </tr>
                <tr>
                    <th class="artist-th" rowspan="{{ n }}" scope="rowgroup">{{ artist }}</th>
                    <td>{{ playlist[artist][0].title }}</td>
                    <td>{{ playlist[artist][0].album or "" }}</td>
                </tr>
                    {% for song in playlist[artist][1:] %}
                    <tr>
                    <td>{{ song.title }}</td>
                    <td>{{ song.album or "" }}</td>
                    </tr>
                    {% endfor %}
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
