<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radio Tournesol</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,400,300|Fira+Sans:200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href='{{ url_for("static", filename="style.css", v=1) }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="animations.css", v=1) }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="dark-theme.css", v=1) }}'>
</head>
<body>
    <nav>
        <div id="brand">
            Radio Pycolore
        </div>
        <div class="channels-list-container">
            <div class="channels-list-head">
                Changer de chaîne
            </div>
            <ul class="channels-list">
                <li class="hide-channels-list"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg></li>
                <li><a href="{{ url_for('channel', channel='tournesol') }}">Chaîne Tournesol</a></li>
                <li><a href="{{ url_for('channel', channel='music') }}">Chaîne Musique</a></li>
            </ul>
        </div>
    </nav>
    <div id="wrapper">
        <div id="timeline">
            <div id="current-broadcast-card">
                <div id="card-body">
                    <div id="current-thumbnail-container">
                        <img id="current-thumbnail" src='{{ url_for("static", filename="thumbnail-placeholder.svg") }}' alt="Current broadcast thumbail.">
                    </div>
                    <div id="current-broadcast-info">
                        <div id="head-info">
                            <div id="current-station"><div class="skeleton"></div></div>
                            <h2 id="current-broadcast-title"><div class="skeleton"></div></h2>
                        </div>
                        <div id="details">
                                <div id="current-show-title"></div>
                                <p id="current-broadcast-summary"></p>
                        </div>
                    </div>
                </div>
                <div id="card-footer">
                    <audio controls preload="none" src="{{ flux_url }}">
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js', v=1) }}" id="info-update" data-update-url="{{ update_url }}" data-listen-url="{{ listen_url }}"></script>
</body>
</html>
