<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radio Tournesol</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Lato:300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<nav>
    <div class="brand">
        Radio Tournesol
    </div>
    <ul>
        <li><a href="{{ url_for('current_show_data') }}">Programme en cours au format JSON</a></li>
    </ul>
</nav>
<div class="wrapper">
    <div class="timeline">
        <div id="current-broadcast-card">
        </div>
        {# <div class="following-broadcasts">A suivre...</div> #}
    </div>
</div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
